// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$jammer-purple: #7f51ff;
$jammer-hover-purple: #4B2F99;
$jammer-blue: #009FFD;
$jammer-hover-blue: #004268;
$jammer-black: #303030;
$jammer-grey: #616668;
$jammer-dark-grey: #999999;
$jammer-white: #E6E6E6;
$light-ish-grey: rgb(226, 226, 226);
