// Specific CSS for your home-page

.video-container > video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}


#video-gradient {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -90;
  background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
  opacity: 0.75;
}


#home-container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 700px) {
  #home-container {
    flex-direction: column;
  }
}
.home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  vertical-align: middle;
  color: $jammer-white;
  margin-top: -70px;
  h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
}

.ap-input-icon svg {
  fill: #cfcfcf;
  position: absolute;
  top: 33%;
  right: 0;
  transform: translateY(-50%);
}
