.text-center {
  text-align: center;
}
.jam-show-page {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 15px;
}
.jam-info-show {
  grid-column: 1 / span 1;
  h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    text-align: justify;
  }
}

.jam-info-show,
.slots-section{
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px;
}

.jam-header {
  height: 250px;
  .jam-avatar-img {
    width: 100%;
  }
}
.jam-details {
  padding: 0 10px;
  height: 140px;
  text-align: left;
}
.jam-description {
  padding: 0 10px;
  height: 220px;
  position: relative;
}
.slots-section {
    grid-column: 2 / span 1;
}
.slots-section-content {

}

 .slot-request-card {
  height: 130px;
  width: 350px;
  background-color: white;
  color: black;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  position: relative;
  margin: 20px;
  border-radius: 4px;
  h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
  }

  h3 {
    font-size: 12px;
    margin: 5px 5px 4px 5px;
  }

  p {
    font-size: 11px;
    margin: 5px;
  }
}

.slot-photo-clipped {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 130px;
  height: 130px;
  border-radius: 4px 0px 0px 4px;
  -webkit-clip-path: polygon(0px 0px, 0px 234px, 130px 0px, 0px 0px);
}

.slot-info {
  width: 50%;
  text-align: left;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}

.jam-slot-delete-button {
  width: 70px;
  height: 25px;
  border-radius: 4px;
  background-color: #d3d3d3;
  color: white;
  margin-top: 7px;
  padding: 3px;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s ease;
  position: relative;
  bottom: 2px;
  left: 145px;
}
.jam-slot-delete-button:hover {
  transition: all 0.2s ease;
  background-color: #939393;
  color: white;
  box-shadow: 0 1px 1px -2px rgba(226, 226, 226, 0.2);
  text-decoration: none;
}

.request-slot-button {
  width: 70px;
  height: 25px;
  border-radius: 4px;
  background-color: $jammer-blue;
  color: white;
  margin-top: 7px;
  padding: 3px;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s ease;
  position: relative;
  bottom: 2px;
  left: 140px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
.request-slot-button:hover {
  transition: all 0.2s ease;
  background-color: $jammer-hover-blue;
  color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.jam-show-slot-info {
  width: 50%;
  position: absolute;
  top: 20px;
  left: 130px;
  text-align: left;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}

