<div id="holder">
  <%= link_to jam_path(@jam), method: :delete do %>
    <div class="button-delete">
      <div class="btnText">Delete Jam</div>
        <div class="btnTwo">
          <div class="btnText2"><i class="far fa-trash-alt button-icon"></i></div>
        </div>
     </div>
  <% end %>
</div>





