<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to image_tag("logo.svg", class: "navbar-wagon-brand"), root_path %>

  <!-- Right Navigation -->

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="svg-wrapper">
      <%= link_to new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150"/>
          <div id="text">
            <span class="spot"></span>Sign in
          </div>
        </svg>
      <% end %>
    </div>
    <div class="svg-wrapper">
      <%= link_to new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <span class="spot"></span>Sign up
          </div>
        </svg>
      <% end %>
    </div>
  </div>
</div>


