<div id="home-container">
  <div class="home-title">
    <%= render 'title' %>
  </div>
  <div class="home-search">
    <%= render 'search' %>
  </div>
</div>

<video autoplay loop id="video-background" muted plays-inline>
  <source src=<%= video_path("bg04.mp4") %> type="video/mp4">
</video>

<div id="video-gradient">
<div>