<div id="home-container">
  <div class="home-title">
    <%= render 'title' %>
  </div>
  <div class="home-search">
    <%= render 'search' %>
  </div>
</div>

<div class="video-container">
  <video autoplay loop muted plays-inline>
    <source src=<%= video_path("jammer-video.mp4") %> type="video/mp4">
    <source src=<%= video_path("jammer-video.webm") %> type="video/webm">
  </video>
</div>

<div id="video-gradient">
<div>