<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 ">
        <div class="home-search">
          <%= render 'home_search' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
        <div id="home-title">
          <h1>Jammer</h1>
          <p>Connecting Musicians</p>
        </div>
      </div>
    </div>
  </div>
</div>

<video autoplay loop id="video-background" muted plays-inline>
  <source src=<%= video_path("bg04.mp4") %> type="video/mp4">
</video>

<div id="video-gradient">
<div>