
.spot {
  position: absolute;
  width: 90px;
  height: 40px;
  top: 0;
  left: 0;
}

.svg-wrapper_logged_in {
  margin-top: 0;
  position: relative;
  width: 90px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
}

#shape_logged_in {
  stroke-width: 6px;
  fill: transparent;
  stroke: rgba($color: #ffffff, $alpha: 0.0);
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

#text_logged_out {
  margin-top: -34px;
  margin-left: 31px;
  text-align: center;
  font-size: 13px;
  width: 70px;

  span {
  width: 90px;
  height: 40px;
  }
}

.svg-wrapper_logged_in:hover #shape_logged_in {
  stroke-dasharray: 50 0;
  stroke-width: 5px;
  stroke-dashoffset: 0;
  stroke: $jammer-purple;
  }

