.new-jam-form {
  height: auto;
  width: 535px;
  background-color: white;
  color: #484848;
  border-radius: 4px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  padding: 20px;
  margin: 20px 0px;
  h1 {
    margin-top: 0px;
  }
}

.form-group {
  margin-right: 50%;
  font-family: raleway;
}
#jam_title {
  width: 500px;
}
#jam_location {
  width: 500px;
}
#center-align-text {
  text-align: center;
  width: 100%;
  margin-left: 25%;
}


  #jam_photo {
    margin: 8px;
  }

