.flexbox {
  display: flex;
  padding: 110px;
}

.flexbox-jams {
  display: flex;
  padding: 110px;
  margin-top: -80px;
}

.flex {
  display: flex !important;
    justify-content: space-between;
    align-items: center;
  p {
    margin: 0;
  }
}

.flexbox-edit {
  display: flex;
  justify-content: space-evenly;
}

.new-jam-form {
  height: auto;
  width: 650px;
  background-color: white;
  color: #484848;
  border-radius: 4px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  padding: 20px;
  margin: 20px 0px;
  h1 {
    margin-top: 0px;
    text-align: center;
  }

  .form-control {
    border-radius: 5px;
  }

  .form-group {
    margin-right: 50%;
  }

  .input {
    width: 100%;
    // border: none !important;
    border-bottom: 1px solid rgba(48, 48, 48, 0.3);
    color: $jammer-black;
  }
}

.form-inputs-edit {
  width: 100%;
  margin-left: -2px;
}


#image-next-to-form {
  width: 65%;
  background-size: cover;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 4px;
}

#center-align-text {
  text-align: center;
  width: 100%;
  margin-left: 25%;
}

#jam_photo {
  margin: 8px;
}

.home-search {
  display: block;
  height: auto;
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  h1 {
    color: #333333;
    margin-top: 5px;
    font-size: 40px;
    font-weight: 800;
  }

  h3 {
    color: #333333;
    font-size: 18px;
    font-weight: 800;
  }

  h4 {
    color: #333333;
    font-size: 16px;
    font-weight: 800;
  }

  p {
    color: #333333;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: left;
    font-weight: bold;
    opacity: 0.6;
  }

  hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: #549bff;
    border-radius: 3px;
    opacity: 0.9;
  }

  .ap-name {
    color: #333333;
  }

  .ap-suggestion {
    text-align: left;
    font-size: 16px;
  }

  #instrument {
    width: 100%;
    color: $jammer-black
  }

  #instrument:focus {
    outline: none
  }

  input[type="file"] {
    display: none;
  }
}

.ap-suggestion {
  text-align: left;
}

.custom-file-upload {
  width: 113px;
  height: 32px;
  border-radius: 5px;
  background-color: $jammer-blue;
  color: white;
  margin-top: 7px;
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.custom-file-upload:hover {
  transition: all 0.4s ease;
  background-color: $jammer-hover-blue;
  color: white;
  box-shadow: 0 1px 1px -2px rgba(226, 226, 226, 0.2);
  text-decoration: none;
}

.details-button {
  width: 70px;
  height: 25px;
  border-radius: 5px;
  background-color: $jammer-blue;
  color: white;
  margin-top: 7px;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.details-button:hover {
  transition: all 0.4s ease;
  background-color: $jammer-hover-blue;
  color: white;
  box-shadow: 0 1px 1px -2px rgba(226, 226, 226, 0.2);
  text-decoration: none;
}

.white-box {
  background-color: white !important;
  border-top: 0 1px 1px -2px solid rgb(226, 226, 226) !important;
}

.fancy-form {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(48, 48, 48, 0.3);
  margin-bottom: 20px;
  color: $jammer-black;
  border-radius: 0px !important;
  box-shadow: none;
}

.fancy-form:focus {
  outline: none;
  cursor: auto;
}

#file-upload {
  opacity: 0;
  height: 0;
}

.form-login {
    height: auto;
    width: 410px;
    background-size: cover !important;
    background-color: white;
    background-position: center;
    color: #484848;
    position: relative;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px #fff inset, 0 1px 3px rgba(34,25,25,0.4);
    padding: 35px;
    margin: 20px 0px;
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.form-check-label {
  font-weight: lighter !important;
}

.links {
  margin-top: 25px;
}

.form-edit {
    height: auto;
    width: 470px;
    background-size: cover !important;
    background-color: white;
    background-position: center;
    color: #484848;
    position: relative;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px #fff inset, 0 1px 3px rgba(34,25,25,0.4);
    padding: 35px;
    margin: 20px;
    margin-left: -60px;
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  h3 {
    font-size: 18px;
  }
}

.instrument-form {
  height: auto;
  width: 470px;
  background-size: cover !important;
  background-color: white;
  background-position: center;
  color: #484848;
  position: relative;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px #fff inset, 0 1px 3px rgba(34,25,25,0.4);
  padding: 35px;
  margin: 20px;
  margin-left: -60px;

  .form-actions {
    margin-left: 125px;
  }

}

.delete-button-position {
    margin-bottom: -20px;
    margin-left: 232px;
}

.update-button-position {
  margin-bottom: 67px;
}
